@model userModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">

            <form method="post">
                
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"> </span> 
                </div>

                <div class="mb-3">
                    <label asp-for="Username" class="form-label">User Name</label>
                    <input type="text" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="text" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"> </span>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <a asp-action="index" asp-controller="User">back to list</a>
        </div>

    </div>

</div>

